body { background: #3f6546; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 55px; display: flex; }
.block-shipping-0 { color: #84b777; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #3b20ae; font-size: 21px; margin-bottom: 5px; }
.block-session-2 { color: #4c482b; font-size: 19px; margin-bottom: 5px; }
.block-config-3 { color: #7b0de4; font-size: 13px; margin-bottom: 5px; }
.block-cluster-4 { color: #e11705; font-size: 20px; margin-bottom: 5px; }
.block-token-5 { color: #776303; font-size: 19px; margin-bottom: 5px; }